flask
Flask-Session
gunicorn
python-dotenv
azure-ai-formrecognizer
azure-core
python-docx
openai==0.28
pandas
azure-storage-blob
xhtml2pdf
markupsafe
PyPDF2>=3.0.0
pdf2docx
flask-session
redis
werkzeug
requests
Pillow
reportlab
